extends layout

block content
  h1
    a(href='/')= title
  p.alert.alert-warning
    | 欢迎使用 MIMEMI 过滤器，该工具主要针对 MIMEMI 服务提供的的订阅内容和格式进行处理，去除不希望出现的服务节点。
    br
    strong 目前支持的格式：
    | SSR、SSR 995 端口、SS、Clash、ClashR
    br
    strong 暂不支持以下格式：
    | SSD、Surge 2/3、Surfboard
    br
    strong 项目地址：
    a(href='https://github.com/dofy/mimemi-filter') https://github.com/dofy/mimemi-filter
  form
    .form-group.bg-light.p-3.shadow-sm
      legend MIMEMI Subscribe Url
      input#murl.form-control(name='murl' placeholder='Your MIMEMI Subscribe Url' value=data.murl)
    .form-group.bg-light.p-3.shadow-sm
      legend Exclude Point(s)
      .btn-group.btn-group-toggle(data-toggle='buttons')
        each item, index in points
          label.btn.btn-primary(class={active: (data.exclude && (data.exclude == item.value || data.exclude.indexOf(item.value)) !== -1)})
            input.custom-control-input(
              name='exclude' type='checkbox' value=item.value
              checked=(data.exclude && (data.exclude == item.value || data.exclude.indexOf(item.value)) !== -1) && 'checked')
            | #{item.title}
    .form-group.bg-light.p-3.shadow-sm
      .input-group.mb-3
        .input-group-prepend
          label(for='suburl').input-group-text Subscribe URL
        input#suburl.form-control.text-muted(type='text' readonly)
        .input-group-append
          button.btn.btn-primary(type='button' value='suburl') Copy
      .input-group.mb-3
        .input-group-prepend
          label(for='editurl').input-group-text Subscribe Editor
        input#editurl.form-control.text-muted(type='text' readonly)
        .input-group-append
          button.btn.btn-primary(type='button' value='editurl') Copy

block javascript
  script.
    const suburl = '#{suburl}'
    updateUrl()
    $('input').change(updateUrl)
    $('button').click(evt => {
      let input = $(`#${evt.currentTarget.value}`)
      let target = $(evt.currentTarget)
      input.focus().select()
      try {
        document.execCommand('Copy')
        target.text('Copied!')
        setTimeout(() => {
          target.text('Copy')
        }, 1500)
        $('<input />').appendTo('body').focus().remove()
      }
      catch (e) {
        console.error(e)
      }
    })

    function updateUrl () {
      let params = [] 
      $('form').serializeArray().forEach(item => {
        params.push(item.name + '=' + encodeURIComponent(item.value))
      })
      params = params.join('&')
      $('#suburl').val(suburl + '/sub?' + params)
      $('#editurl').val(suburl + '/?' + params)
    }